<div class="media">
  <a class="pull-left" href="#">
    <%= gravatar_for(message.user) %>
  </a>
  <div class="media-body">
    <p><%= message.text %></p>
	  <%=link_to create_nickname_string(message.user.nick_name), message.user, class:"text-info small" %>
  </div>
</div>
