<div class="block converation-block">
  <h3><%= conversation.theme %></h3>
  <span class="not-date"></span>
  <p><%= conversation.description %></p>
  <div class="members"><% conversation.invitations %></div>
  <div class="actions">
  	<a href=""><i class="icon-pencil"></i></a>
	<a href=""><i class="icon-trash"></i></a>
	<a href=""><i class="icon-ban-circle"></i></a>
  </div>
</div>