<div class="span2 left"></div>
        <div class="span8 center-wrap">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Tasks</a></li>
              <li><a href="#tab2" data-toggle="tab">Conversation</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <div class="block">
                  <a href="#TaskModal" role="button" class="btn btn-primary" data-toggle="modal">Add task</a>
                </div>

                <% if !@tasks.empty? %>
                  <%= render @tasks %>
                <% else %>
                  <div class="notasks">
                    <p>You don't have any task yet. Too create one click the button above ("add task").</p>
                  </div>
                <% end %>
                           
              </div>
              <div class="tab-pane" id="tab2">
                <div class="block">
                  <a href="#ConversationModal" role="button" class="btn btn-primary" data-toggle="modal"><i class=" icon-plus"></i> Add Conversation</a>
                </div>
                <% if !@conversations.empty? %>
                  <%= render @conversations %>
                <% else %>
                  <div class="notasks">
                    <p>You don't have any conversation yet. Too create one click the button above ("add conversation").</p>
                  </div>
                <% end %>
              </div>

              
            </div>
          </div>
        </div>


<div id="myModal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>



 <div id="TaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Creating new task</h3>
    </div>
    <div class="modal-body">
      <%= render 'tasks/form', task: current_user.tasks.new %>
     
    </div>
</div>
<div id="ConversationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ConversationModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Creating new conversation</h3>
    </div>
    <div class="modal-body">
      <%= render 'conversations/form', conversation: current_user.started_conversations.new %>
    </div>
</div>
