$font-stack:    Helvetica, sans-serif;
$red: rgb(252, 0, 0);
$backgrey: rgb(203, 203, 203);
$dgrey: rgb(63,63,63);
$green: #7dc36b;
$lgreen: #86d173;
$fontgrey: rgb(35, 35,35);
$hovergrey: rgb(183,183,183);
$hovercolor: rgb(233, 233, 233);
$activeblue: rgb(23, 135, 209);
$whitegrey: rgb(223, 223, 223);
$gradient: rgb(213, 213, 213);
$back: rgb(152,152,152);
$white: #fff;
$black: #000;

* {
  margin: 0;
}

html, body {
  height: 100%;
}
header {
  height: 30px;
  margin-bottom: 30px;
  text-align: center;
  background: #88bfe8; /* Old browsers */
  background: -moz-linear-gradient(top, #88bfe8 0%, #d6d6d6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bfe8), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #88bfe8 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #88bfe8 0%,#d6d6d6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #88bfe8 0%,#d6d6d6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #88bfe8 0%,#d6d6d6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
  h1 {
    
  }
}
.main {
  min-height: 100%;
    /* equal to footer height */
    margin-bottom: -60px;
  background: url(back2.png);
  .left {

  }
  .center-wrap {
    background: $whitegrey;
    border-radius: 0px;

    .nav-tabs {
      li{
        width: 50%;
        text-align: center;
        border-radius: 0;
        border: none;
        margin: 0;
        padding: 0;
      }
      li a{
        color: $activeblue;
        font-size: 20px;
        border-radius: 0;
        border: none;
        background: $backgrey;
        margin: 0;
        font-weight: 300;

      }
      

      li.active a {
        background: $whitegrey;
        color: $activeblue;
      }
      li a:hover {
        background: $hovergrey;
      }
      li.active a:hover {
         background: $whitegrey;
      }
      li.active:hover {
      }
    }


    .notasks {
      display: table;
      text-align: center;
      width: 100%;
      height: 90px;


      p {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-style: italic;
  
      }
    }
    
    

    .block {
      height: 90px;
      padding: 0 10px;
      position: relative;
      border-radius: 2px;
      background: $whitegrey; /* Old browsers */
      background: -moz-linear-gradient(top, $whitegrey 0%, $gradient 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$whitegrey), color-stop(100%,$gradient)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, $whitegrey 0%,$gradient 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, $whitegrey 0%,$gradient 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, $whitegrey 0%,$gradient 100%); /* IE10+ */
      background: linear-gradient(to bottom, $whitegrey 0%,$gradient 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$whitegrey', endColorstr='#$gradient',GradientType=0 ); /* IE6-9 */

      .btn-primary {
        width: 100%;
        height: 70px;
        padding: 0;
        margin-top: 10px;
        background: transparent;
        color: $activeblue;
        font-weight: 300;
      }
      .btn-primary:hover {
        background: $hovergrey;
      }

      h3 {
        margin: 0;
      }
      .deadlines {
        position: absolute;
        top: 0;
        right: 160px;
        background: $dgrey;
        color: $hovergrey;
        border: 1px solid $hovergrey;
        border-top: none;
        border-radius: 0 0 5px 5px;
        height: 20px;
        font-size: 10px;
        padding: 0 10px;
        p {
          display: inline-block;
          span {
            color: white;
          }

        }
      }
      .actions {
        position: absolute;
        top: 10px;
        right: 0;
        background: $activeblue;
        padding: 5px;
        border-radius: 5px 0 0 5px;
        a {
          display: block;
        }
      }

    }
  }

  .modal {
      width: 64%;
      left: 18%;
      margin: 0;
      border-radius: 0;
      background: url(back2.png);
    
    .modal-body {
      label {
       color: $whitegrey;
       margin: 0;
       padding: 0; 
      }

      input,textarea, select {
        background: transparent;
        border: 4px solid $whitegrey;
        color: $whitegrey;
        border-radius: 0;


      }
      .year {
        border-radius: 15px;
      }
      input:active,input:focus, input:hover, textarea:hover, textarea:focus, textarea:active {
        background: $whitegrey;
        color: $back;
      }

      .caption {
          height: 15px;
          width: 30%;
          min-width: 200px;
          max-width: 250px;
        }
      .description {
        display: block;
        height: 90px;
        width: 60%;
        min-width: 200px;
        max-width: 500px;

      }



       
    }
  
  }

  .hfooter {
    clear: both;
    height: 60px;

  }
.right {
    .right-nav-wrap {
      background: $backgrey;
    }
  }
}
.main:after {
  content: "";
    display: block;
    height: 60px;
}
footer {
  height: 60px;
  background: red;
}
.container-margined {
  margin-top: 64px;
}
